<li class="listItem">
    {{bundle_name}} ({{quantity}})

    <button class="claimItem waves-effect waves-light btn deep-orange lighten-2" data-id="{{id}}" data-claimed="{{claimed}}">
        {{#if claimed}}Claim{{else}}Release Claim{{/if}}
    </button>

</li>