<li class="listItem">
    {{quantity}} of {{bundle_name}}

    <button class="claimItem waves-effect waves-light btn" data-id="{{id}}" data-claimed="{{claimed}}">
        {{#if claimed}}Claim{{else}}Offered{{/if}}
    </button>

</li>